.login-form{
    width: 340px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    border: white;
    border-style: solid;
    border-width: 1px;
}
.login-btn{
    width: 100%;
    background-color:  violet;
}
.login-btn:hover {
    width: 100%;
    background-color:  rgb(187, 99, 187);
    border-width : 1px;
    border-style: solid;
    border: rgba(255, 255, 255, 0.89);
}
.bg{
    width: 100%;
    min-height: 100vh;
    background: #c850c0;
    background: -webkit-linear-gradient(45deg,#4158d0,#c850c0);
    background: -o-linear-gradient(45deg,#4158d0,#c850c0);
    background: -moz-linear-gradient(45deg,#4158d0,#c850c0);
    background: linear-gradient(45deg,#4158d0,#c850c0);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
}
