.bg{
    top: 0px;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #c850c0;
    background: -webkit-linear-gradient(45deg,#4158d0,#c850c0);
    background: -o-linear-gradient(45deg,#4158d0,#c850c0);
    background: -moz-linear-gradient(45deg,#4158d0,#c850c0);
    background: linear-gradient(45deg,#4158d0,#c850c0);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
    z-index: -99999999;
}

.hidden{
    display: none;
}
.card{
    height: 300px;
}
.delete{
    position: relative;
    top: 5px;
    width: 12px;
    height: 26px;

}
.cross{
    position: absolute;
    top: 4px;
    left: 4px;
}
.key{
    height: 40px;
}
.login-form{
    width: 680px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    border: white;
    border-style: solid;
    border-width: 1px;
    color:white;
}
.login-btn{
    border: none;
    width: 100px;
    background-color:  violet;
}
.login-btn:hover {
    border: none;
    width: 100px;
    background-color:  rgb(187, 99, 187);
    border-width : 1px;
    border-style: solid;
    border: rgba(255, 255, 255, 0.89);
}
#cp-form{
    width: 680px;
}
.keys{
    width: 680px;
    margin-left: auto;
    margin-right: auto;
}
.key{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(62, 95, 240, 0.699);
    color: white;
    border-radius: 2px;
    width: 120px;
    height: 30px;
    margin: 5px;
    padding: 8px;
    padding-right: 0px;
}
.del-key{
    height: 30px;
    width: 30px;
    margin: 0px;
    padding: 0px;
    border: 0;
    position: relative;
    background-color: rgba(255, 0, 0, 0.685);
    color: white;
    
}
