.bg{
    width: 100%;
    min-height: 100vh;
    background: #c850c0;
    background: -webkit-linear-gradient(45deg,#4158d0,#c850c0);
    background: -o-linear-gradient(45deg,#4158d0,#c850c0);
    background: -moz-linear-gradient(45deg,#4158d0,#c850c0);
    background: linear-gradient(45deg,#4158d0,#c850c0);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
}
table{
    border-spacing: 1;
    border-collapse: collapse;
    background: #fff;
    border-radius: 10px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
thead{
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
   
}
table thead tr{
    background: #36304a;
}
th{
    
    
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset;
}
.column-2{
    width: 11.11%;
    padding-left: 40px;
}
.subtable{
    font-size: small;
    color: black;
}
.subtable thead tr{
    background: #36304a70;
}
.subtable thead tr th{
    padding-inline-start : 8px;
}
.subtable-head{
    color: white;
}

.status{

    background-color: rgb(16, 207, 16);
    border-radius: 4px;
    width: 9px;
    height: 9px;
    display: block;

}


.True{
    cursor: pointer;
}


.dropdown dd, .dropdown dt {
    margin:0px;
    padding:0px;
}
.dropdown ul {
    position: relative;
    margin:0px;
    padding:0px;
}
.dropdown dd {
    position:relative;
    margin:0px;
    padding:0px;
}
.dropdown a, .dropdown a:visited {
    color:#fff;
    text-decoration:none;
    outline:none;
    margin:0px;
    padding:0px;
    min-height: 30px;
    border-radius: 3px;
}
.dropdown dt a {
    background-color:#4F6877;
    display:block;
    overflow: hidden;
    width:100%;
    margin:0px;
    padding:0px;
}
.dropdown dt a span, .multiSel span {
    cursor:pointer;
    margin:0px;
    padding:5px 10px;
}
.dropdown dd ul {
    background-color: #4F6877;
    top:1px;
    color:#fff;
    display:none;
    width:100%;
    list-style:none;
    height: 100px;
    overflow: auto;
    margin:0px;
    padding:0px;
}
.dropdown span.value {
    display:none;
    border-radius: 3px;
    margin:0px;
    padding:0px;
}
.dropdown dd ul li a {
    display:block;
    margin:0px;
    padding:0px;
}
.dropdown dd ul li a:hover {
    background-color:#fff;
    margin:0px;
    padding:0px;
}

.apply{
    position: fixed;
}