

{% extends "base.html" %}
{% block title %}Github{% endblock %}
{% block css %}
<link rel="stylesheet" href="../static/github.css">
{% endblock %}
{% block main %}
<div class="bg">
  <div class="container">
        
      <table class="table table-hover table-responsive table-striped">
        <thead>
          <tr>
            <th class="column-1">URL</th>
            <th class="column-1 keyword">Keyword Found</th>
            <th></th>
            
          </tr>
        </thead>
        <tbody>
          {% for d in data %}
          <tr>
            <td class="column-1">
              <a href="{{d.url}}" target="_blank" rel="noopener noreferrer">
                {{d.url}}
              </a>
              
            </td>
            <td class="column-2 keyword">{{d.keyword}}</td>
            <td class="column-2 delete-cell">
              <form class="d-flex justify-content-end" action="/delete_github" method="post">
                <input type="text" name="url" value="{{d.url}}" style="display: none;" />
                <button class="btn btn-danger delete border border-1 border-dark" type="submit" >
                <svg class="cross" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                </svg>
              </button>
                
              </form>
            </td>
            
          </tr>
          {% endfor %}
        </tbody>
    
      </table>
    
    
  
  </div>

</div>

{% endblock %}
      
    