

{% extends "base.html" %}
{% block title %}Users{% endblock %}
{% block css %}
<link rel="stylesheet" href="../static/users.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}
{% block main %}
<div class="bg">
  <div class="container mt-4">


    <dl class="dropdown"> <dt>
      <a class="pt-2">
        <span class="hida">Select Groups</span>    
        <p class="multiSel"></p>  
      </a>
      </dt>
  
      <dd>
          <div class="mutliSelect" style="display: block;">
              
                {% if members %}
            
            <form method="post">
  
              <ul class="row ps-3">
                  
                  <button type="submit" class="col-12 p-1 btn btn-info ms-3 mt-2 mb-2" style="width:50px;height:30px;color:white; " value="Filter">Apply</button>
              
                <div>
                          {% for d in members %}

                      
                      <li>
                        {% if checked.d %}
                        <input type="checkbox" id="{{d}}" value="{{d}}" name="hello" checked />
                        <label for="{{d}}">{{d}}</label>

                        {% else %}
                        <input type="checkbox" id="{{d}}" value="{{d}}" name="hello" />
                        <label for="{{d}}">{{d}}</label>
                        {% endif %}

                      </li>

                      {% endfor %}
                </div>
                
              
            </ul>
            </form>
            {% endif %}
          </div>
      </dd>
  </dl>
      <table class="table table-hover table-responsive table-striped" style="display:block;">
        <thead>
            <tr>
                <th class="column-2">Name
                  
                </th>
                <th class="column-2">Groups</th>
                <th class="column-2 pe-5" style="text-align:right;">User Principal Name</th>
                <!-- <th class="column-2">Monitor</th>                   -->
            </tr>
        </thead>
        <tbody>
  
          {% if data %}
            {% for d in data %}
                <tr onclick="show_sub('{{d['userprincipalname']}}')" class="">
                  <td class="column-2 {{d.monitor}}" style="position: relative;">{{d['name']}}

                    {% set x = d["monitor"] %}
                    {% set y = 'True' %}
                    {% if x|string() == y|string() %}
            
                      {% if d.current_device|string() != "null" %}

                      <div class="status" style="position: relative;left:100px;bottom:14.5px;">
                        &nbsp;
                      </div>
                      {% endif %}
                    {% endif %}
                  </td>
                  <td class="column-2 {{d.monitor}}">
                    {% for e in d.memberof %}
                    - {{e}} <br>
                    {% endfor%}
                  </td>
                  <td class="column-2 pe-5 {{d.monitor}}" style="text-align:right;">{{d["userprincipalname"]}}</td>
                  <!-- <td class="column-2">{{d["monitor"]}}</td>                       -->
                </tr>
                {% set x = d["monitor"] %}
                {% set y = 'True' %}
                {% if x|string() == y|string() %}

                <tr class="{{d['userprincipalname']}}" style="display: none;">
                  <td class="ps-4" colspan="4">
                    <table class="subtable">
                      <thead class="subtable-head">
                        <tr class="subtable-row">
                          <th>Current Device</th>
                          <th>Last Logon</th>
                          <th>Last Device</th>
                        </tr>
                      </thead>  
                      <tbody>
                        <td>{{d["current_device"]}}</td>
                        <td>{{d["lastlogon"]}}</td>
                        <td>{{d["last_device"]}}</td>
                      </tbody>
                    </table>
                  </td>
                </tr>   


                    <!-- <tr class="" style="display: none;">
                      <td><div style="width: 30px;" class="indent"></div></td>
                      <th>Current Device</th>
                      <th>Last Logon</th>
                      <th>Last Device</th>
                      
                    </tr>
                    <tr class="{{d['userprincipalname']}}" style="display: none;">
                      <td><div style="width: 30px;" class="indent"></div></td>
                      <td>{{d["current_device"]}}</td>
                      <td>{{d["lastlogon"]}}</td>
                      <td>{{d["last_device"]}}</td> -->
                      
                    </tr>
                {% endif %}
            {% endfor %}
          
          {% endif %}
  
          
          
          
        </tbody>
    </table>
  </div>
</div>

{% endblock %}
{% block script %}
    function show_sub(ip){
      var tr = document.getElementsByClassName(ip)
      for(var i=0;i < tr.length;i++){
        if(tr[i].style.display == "none"){
          tr[i].style.display = ""
        }
        else if(tr[i].style.display == ""){
          tr[i].style.display = "none"
        }
      
      }
    }

    $(".dropdown dt a").on('click', function () {
      $(".dropdown dd ul").slideToggle('fast');
  });
  
  $(".dropdown dd ul li a").on('click', function () {
      $(".dropdown dd ul").hide();
  });
  
  function getSelectedValue(id) {
      return $("#" + id).find("dt a span.value").html();
  }
  
  $(document).bind('click', function (e) {
      var $clicked = $(e.target);
      if (!$clicked.parents().hasClass("dropdown")) $(".dropdown dd ul").hide();
  });
  
  
  $('.mutliSelect input[type="checkbox"]').on('click', function () {
  
      var title = $(this).closest('.mutliSelect').find('input[type="checkbox"]').val(),
          title = $(this).val() + ",";
  
      if ($(this).is(':checked')) {
          var html = '<span title="' + title + '">' + title + '</span>';
          $('.multiSel').append(html);
          $(".hida").hide();
      } else {
          $('span[title="' + title + '"]').remove();
          var ret = $(".hida");
          $('.dropdown dt a').append(ret);
  
      }
  });
  
  

  {% endblock %}